<div class="buttons mt-3">
    <a class="btn btn-link-2" href="/auth/google"> <img src="/images/google-logo.png"> </a>
</div>
<div class="buttons mt-3">
    <a class="btn btn-link-2" href="/msg"> <i class="fa fa-comments msg-botton-icon" aria-hidden="true"></i> </a>
</div>